.footer__socials {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a {
    background: rgba(15, 5, 21, 0.799);
    color: white;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    background: transparent;
    color: grey;
    border-color: rgb(99, 48, 48);
}

.footer__copyright {
    margin-bottom: 4rem;
    color: var(--color-bg);
}
  
@media screen and (max-width: 600px){
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials {
        margin-bottom: 2.6rem;
    }
}